/* CUSTOM STORY STYLE */
h2, h3
    max-width $column-width
    font-weight 700
    margin 0 auto
    padding 0 1rem
    text-align left



ul 
    max-width $column-width 
    margin 0 auto 
    padding 0 1rem

li 
    margin 1rem 0
    line-height 1.65
    list-style-type: circle

.flowchart 
    max-width 900px
    margin 5rem auto 
    padding 0 1rem


svg 
    tspan   
        font-family $national-narrow

.minimap 
    position fixed 
    border-radius 5px
    top 50px
    left 0
    box-shadow -3px 5px 17px #C8C8C8
